LetsGoBiking_tc.Heavy/Connected Services/RoutingService/LetsGoBiking_tc.RoutingWCF.Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LetsGoBiking_tc.RoutingWCF.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LetsGoBiking_tc.RoutingWCF.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="banking" type="xs:boolean" />
      <xs:element minOccurs="0" name="bonus" type="xs:boolean" />
      <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      <xs:element minOccurs="0" name="contractName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="lastUpdate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
      <xs:element minOccurs="0" name="position" nillable="true" type="tns:JCDPosition" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="totalStands" nillable="true" type="tns:StandInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
  <xs:complexType name="JCDPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="latitude" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JCDPosition" nillable="true" type="tns:JCDPosition" />
  <xs:complexType name="StandInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="availabilities" nillable="true" type="tns:StandAvailability" />
      <xs:element minOccurs="0" name="capacity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandInfo" nillable="true" type="tns:StandInfo" />
  <xs:complexType name="StandAvailability">
    <xs:sequence>
      <xs:element minOccurs="0" name="bikes" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StandAvailability" nillable="true" type="tns:StandAvailability" />
</xs:schema>